body {
    overflow-x: hidden; /* Hide horizontal scrollbar */
    margin: 0;
}

h1, h2, h3{
    font-family: 'kulim_parkbold';
}



h4, p{
    font-family: 'kulim_parkregular';
}

.flex-container {
    display: flex;
    flex-direction: column;
}

/* About Me */

#about-me {
    display: flex;
    flex-direction: row;
    background-color: white;
}

#front-text {
    width: 60%;
    padding-top: 7em;
    margin-left: 6%;
}

#front-text:hover #about-me-desc {
    transform: scale(1.3)
    translate(4em,0);
}

#front-text:hover #chevron {
    opacity: 100%;
}


#front-text h1{
    text-align: left;
    font-size: 100px;
    padding-left: 5%;

}

#about-me-desc {
    transition: transform 0.5s;
}

#chevron {
    font-size: 50px;
    font-family: kulim_parkbold;
    position: relative;
    bottom: 3em;
    left: 15em;
    opacity: 0;
    transition: opacity 0.5s;
}

#front-text p{
    padding-left: 10%;
    text-align: left;
    font-size: 2em;
}

#front-img {
    width: 50%;
    height: 40em;
    object-fit: cover;
    padding-top: 1em;

}

/* Projects */

.section-title {
    padding-top: 40px;
    padding-bottom: 0.5em;
    font-size: 70px;
    margin: 0;
}

#projects-title {
    margin-left: 1em;
    color: white;
}

#project-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 3em;
    margin-right: 3em;
    gap: 3em;
}

.project-container{
    position: relative;
    width: 30%;
    padding: 0;
    margin-bottom: 0;

}

.project-container img{
    width: 100%;
    height: 18em;
    object-fit: cover;
    border-radius: 5px;
}

.project-text {
    width: 100%;
    position: absolute;
    bottom: 0px;
    background-color: white;
    color: black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.project-title {
    padding-left: 20px;
    padding-right: 20px;
}

.project-description {
    padding-left: 25px;
    height: 0;
    overflow: hidden;
    transition: height 0.5s;
}

/*TODO change value dynamically*/
.project-container:hover .project-description {
    height: 5em;
}

#projects {
    padding-bottom: 4em;
    background-color: #353535;
}

/* Studies */

#studies{
    margin-bottom: -3em;
}

#studies-title {
    text-align: right;
    margin-right: 1em;
}

#studies-cards {
    display: flex;
    flex-direction: row;
    margin-top: 1.5em;
}

.univ {
    width: 20%;
    padding-left: 10em;
}

.univ img {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: transform 0.5s;
}

.univ-desc {
    border-top: solid 10px;
    position: relative;
    background-color: white;
    color: black;
    transition: bottom 0.5s;
}

.univ-desc h3 {
    margin: 0;
    text-align: center;
}

.univ-title{
    transition: transform 0.5s;
}

.univ-desc .date {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    text-align: center;
    font-size: 30px;
    justify-content: center;
    transition: transform 0.5s;
    height: 3em;
}

.univ-desc .date p {
    margin-top: 0;
    margin-bottom: 0;
}

.univ-desc .date .line {
    position: relative;
    bottom: -15px;
    text-align: center;
    border: black 1px solid;
    width: 0px;
    padding-left: 0.1em;
    padding-right: 0.1em;
    height: 0;
    margin-left: 3px;
    margin-right: 3px;
}

.univ-desc .school-desc-container {
    position: relative;
    bottom: 5em;
}

.univ-desc .school-desc {
    position: absolute;
    height: 0;
    overflow: hidden;
    margin: 0;
    font-size: 1.5em;
    padding-left: 1em;
    transition: height 0.5s;
}

/* UTBM anim TODO change flex after event of transform */


.univ:hover img {
    transform: scale(1.1);
}

.univ:hover .univ-desc .line{
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
}

.univ:hover .univ-desc .school-desc{
    height: 4em;
}

#utbm-desc {
    bottom: 5em;
}

#utbm-desc h3 {
    font-size: 100px;
}

#utbm-desc  .date{
    margin-top: -20px;
}

#utbm:hover .univ-desc .univ-title{
    transform: scale(0.8) translate(-0.6em);
}

.univ:hover #utbm-desc .date{
    transform: scale(0.9) translate(4.4em, -3.2em);
    flex-direction: column;
}

.univ:hover #utbm-desc{
    bottom: 10em;
}

#famnit-desc {
    bottom: 2em;
}

#famnit-desc h3 {
    font-size: 90px;
}

#famnit-desc h4{
    margin-top: -20px;
    margin-bottom: -0;
    font-size: 28px;
    font-family: kulim_parklight;
    text-align: center;
    transition: transform 0.5s;
}

#famnit-date1 {
    padding-right:0.5em;
}

#famnit:hover .univ-desc .univ-title{
    transform: scale(0.8) translate(-3em);
}

.univ:hover #famnit-desc .date{
    transform: scale(0.9) translate(4.8em, -3.5em);
    flex-direction: column;
}

.univ:hover #famnit-desc .date1{
    transform: scale(0.8);
    flex-direction: column;
    padding-right:0;
}

.univ:hover #famnit-desc{
    bottom: 6em;
}

#uqac-desc {
    bottom: 2.4em;
}

#uqac-desc h3 {
    font-size: 100px;
}

#uqac-desc  .date{
    margin-top: -20px;
}

#uqac:hover .univ-desc .univ-title{
    transform: scale(0.8) translate(-0.6em);
}

.univ:hover #uqac-desc .date{
    transform: scale(0.9) translate(4.4em, -3.2em);
    flex-direction: column;
}

.univ:hover #uqac-desc{
    bottom: 6em;
}

/* Work Experience */


#work-experiences{
    margin-bottom: 10em;
}

#work-experiences-title{
    margin-left: 1em;
}


#arrow-container{
    height: 0;
    width: 0;
    position: relative;
}

#arrow {
    width: 100em;
    position: absolute;
    top:6em;
    left: 3em;
    display: flex;
    z-index: -1;
}

#arrow-line {
    margin-top: 0.4em;
    width: 88%;
    background: black;
    height: 1.3em;
    float: left;
    border-radius:0.5em ;

}

#arrow-chevron{
    width: 3em;
    height: 3em;
    border-radius:0.3em ;
    transform: rotate(-45deg);
    background: linear-gradient(-45deg, black 50%, transparent 50%);
    position: relative;
    left: -2em;
    top: -0.45em;
}

#work-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.enterprise{
    width: 30%;
}

.enterprise img {
    width: 50%;
    background-color: white;
    border:  1em;
    border-radius: 6%;
    display: block;
    margin: auto;
    transition: transform 0.5s;
}
.enterprise h3 {
    margin: 0;
    text-align: center;
    font-size: 50px;
    transition: transform 0.5s;
    padding-top: 0.1em;
}

.enterprise-desc {
    background-color: white;
    background-attachment: local;
    background-size: cover;
    display: flex;
    flex-direction: column;
    transition: transform 0.5s;

}

.enterprise-desc .date {
    margin: 0;
    padding-bottom: 0.5em;
    text-align: center;
    font-size: 30px;
    transition: transform 0.5s;
}

.work-desc {
    opacity: 0;
    transition: opacity 0.5s;
    margin-left: auto;
    margin-right: auto;
    margin-top: -0.5em;
    font-size: 25px;
}

.enterprise:hover img {
    transform: scale(1.2);
}

.enterprise:hover .enterprise-desc {
    transform: translate(0, -2em);
}

.enterprise:hover .date {
    transform: translate(0,-0.3em) scale(0.8) ;
}

.enterprise:hover .work-desc {
    opacity: 100;
}

/* Footer */

footer {
    position: fixed;
    bottom: -5em;
    width: 100%;
    background-color: #353535;
    color: white;
    transition: bottom 0.8s;
}

footer img{
    width: 3em;
    margin-right: 1em;
}

footer li{
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer ul{
    flex-grow: 1;
    margin: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    align-items: center;
    transition: background-color 0.5s;
}

footer p{
    font-size: 1.3em;
    padding: 0;
    margin:0;
}

footer ul:hover{
    background-color: gray;
}


